/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #faf4f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #f8e1db;
    padding: 12px 48px;
}

.header .logo {
    display: inline-block;
}

.header .navbar {
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
    font-weight: 550;
}

.header .navbar a {
    text-decoration: none;
    color: #3a3735;
}

.header .navbar a:hover {
    color: white;
}

.carousel {
    height: 800px;
    background-image: url(./src/img/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.activities {
    padding: 4rem 0;
}

.activities .title {
    color: gray;
    text-align: center;
}

.activities .title h1 {
    padding: 0;
    margin: 0 0 32px;
}

.activities .main .row .col {
    float: left;
    width: 25%;
    padding: 0 16px;
    box-sizing: border-box;
}

.activities .item {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.activities .main .item .thumbnail img {
    width: 100%;
    border-radius: 20px;
}

.activities .main .item h1 {
    font-size: 1.25rem;
}

.activities .main .item p {
    line-height: 2;
    margin-bottom: 1.5rem;
}

.activities .main .item a {
    color: #8d8d8d;
    text-decoration: none;
    background-color: #e8e8e8;
    padding: 0.4rem 2rem;
    border-radius: 1rem;
}

.activities .main .wrapper {
    text-align: center;
}

.activities .main button {
    color: #e77051;
    /* font-weight: 600; */
    background-color: transparent;
    padding: 0.75rem 4rem;
    margin-top: 2rem;    
    border: 1px solid #e77051;
    border-radius: 1.25rem;
}


/* =============================================== */
.contact {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    background-color: #f8e1db;
}

.contact .camp-imgs {
    position: relative;
}

.contact .camp-imgs .main-img {
    position: relative;
    z-index: 10;
}

.contact .camp-imgs .mask {
    position: absolute;
    left: -25rem;
    height: 100%;
    z-index: 1;
}

.contact .info {
    color: #959392;
    padding: 2.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
}

.contact .info h4 {
    margin: 1rem 0;
}

.contact .info .in-touch {
    grid-column: 1 / span 2;
}

.contact .info .download img{
    width: 49%;
}

.contact .info .follow i {
    font-size: 1.25rem;
    letter-spacing: 0.5rem;
}

.fa-brands {
    color: #e77051;
}

/* =============================================== */
.footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content max-content;
    gap: 2rem;

    color: #3a3735;
    background-color: #f8e1db;
    margin-top: 4rem;
    padding: 4rem 2rem 2rem;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: #3a3735;
}

.footer .more-info {
    grid-column: 1 / span 2;
}

.footer .copyright {
    grid-column: 1 / span 5;
    text-align: center;
}
