.products {
   .item {
      width: 100%;
      height: 470px !important;
      transition: 0.3s all ease;
      cursor: pointer;

      &:hover {
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
         border-color: transparent !important;

         & > .thumbnail {
            transform: translateY(-0.5rem);
         }

         h1 {
            color: #198754;
         }
      }

      .thumbnail {
         width: 100%;
         height: 240px !important;
         transition: 0.3s all ease;

         img {
            height: 100% !important;
         }
      }

      .detail {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 4rem 3.25rem 2.5rem 2.5rem;
         // line-height: 2rem;
      }

      .desc {
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-line-clamp: 3; /* number of lines to show */
         line-clamp: 2;
         -webkit-box-orient: vertical;
      }

      span {
         font-size: 1.25rem;
         font-weight: 700;
      }

      //   h1 {
      //      min-height: 6rem;
      //   }
   }
}

.filters {
   .dropdown-toggle {
      min-width: 90px;
   }
}

.cart-modal {
   .modal-body {
      min-height: 500px !important;
   }

   img {
      height: 80px !important;
   }

   .toggle-btn:hover {
      background-color: #d0d3d4;
   }
}

#cartItems:empty:after {
   display: flex;
   flex-grow: 1;
   justify-content: center;
   align-items: center;
   height: 100%;
   content: "You don't have any item in cart.";
   font-size: 1.25rem;
   color: #a1b0b5;
}

.payment-modal {
   .modal-body {
      min-height: 300px !important;
   }

   img {
      height: 80px !important;
   }

   .toggle-btn:hover {
      background-color: #d0d3d4;
   }
}
