
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    --animate-duration: 2s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

body {
    color: #636363;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 2rem; */
}

.btn-get {
    font-size: 0.9rem;
    color: #ffffff;
    padding: 1.25rem 2rem;
    border: none;
    border-radius: 2rem;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-get:hover {
    background-position: right center;
}

.category {
    color: #f55f8d;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.title {
    color: #071020;
    font-size: 4.5rem;
    margin: 1rem 0;
    text-transform: capitalize;
}

/* Header */
.header {
    padding: 2rem 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    cursor: pointer;
}

.header .container .wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.header .wrapper ul {
    display: flex;
    gap: 1.5rem;
}

.header .wrapper ul li {
    font-weight: 600;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.header .wrapper ul li:hover > * {
    color: #f55f8d;
}

.header .wrapper ul li:hover > a {
    animation: upToDown .3s forwards
}

.header .wrapper ul li a {
    color: #071020;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: capitalize;
}

.header .wrapper ul i {
    font-size: 0.7rem;
}

/* carousel */
.carousel {
    padding-top: 12rem;
    background-image: url('./src/img/pic2.png');
    background-repeat: repeat;
}

.carousel .container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.carousel .content {
    width: 60%;
}

.carousel .content p {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.carousel ul li {
    font-size: 1.25rem;
    list-style: none;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.carousel ul li i {
    font-size: 1.5rem;
    color: #ffffff;
    padding: 0.5rem;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}

.carousel .img-wrapper {
    width: 40%;
}

.carousel .container img {
    width: 570px;
}

/* Services */
.service {
    padding: 5rem 0;
    text-align: center;
    background-image: url("./src/img/bg2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
 
.service .container .row {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
} 

.service .row .col {
    min-width: 250px;
    padding: 2rem 2rem;
    background-color: #fffffe;
    width: calc((100% - 4rem) /3);
    border-radius: 0.5rem;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;   */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.5s ease 0.1s;
}

.service .row .col:hover {
    transform: translateY(-1.25rem);
}

.service .row .col .item img {
    width: 70%;
}

.service .item h3 {
    color: #071020;
    font-size: 1.35rem;
    font-weight: 700;
    margin: 1rem 0;
    text-transform: capitalize;
}

/* About */
.about {
    position: relative;
}

.about .container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about .wrapper {
    width: 50%;
    visibility: visible; 
    animation-duration: 2s; 
    animation-delay: 0.2s; 
}

.about .wrapper img {
    width: 100%;
    margin-left: -15%;
    border-radius: 0 100px 100px 0;
}

.about .content {
    width: 50%;
    animation-duration: 2s; 
    animation-delay: 0.2s; 
}

.about .content ul {
    margin: 1rem 0 2rem;
}

.about .content ul li {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 0.75rem 0;
}

.about .content li i {
    color: #f55f8d;
    font-size: 1.5rem;
}

/* Records */
.records {
    margin: 5rem 0;
    padding: 4rem 0;
    background-image: url('./src/img/bg14.png');
    background-position: center;
    background-size: cover;
}

.records .container {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.records .item i {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
    width: 5rem;
    line-height: 5rem;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 50%;
}

.records .item h1 {
    font-size: 4rem;
    color: #f55f8d;
    text-transform: uppercase;
}

.records .item p {
    font-size: 1.125rem;
    color: #071020;
}

/* Feature */
.feature {
    padding: 3rem 0;
    background-image: url('./src/img/bg2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.feature .container {
    display: flex;
    gap: 2rem;
}

.feature .content {
    width: 50%;
}

.feature .content .row {
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
}

.feature .content .row .col .item {
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.75rem;
    transition: all 1s ease-out;
}

.feature .row .col {
    padding: 0 3rem 1.75rem 0;
}

.feature .row .col:nth-of-type(2) {
    padding: 0 0 1.75rem 3rem;
}

.feature .col .item:hover {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #ffffff;
}

.feature .col:hover .item h2,
.feature .col:hover .item i {
    color: #ffffff !important;
    transition: all 1s ease-out;
}

.feature .col .item {
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.feature .col .item i {
    font-size: 5rem;
    color: #f55f8d;
    transition: all 1s ease-out;
}

.feature .col .item h2 {
    font-size: 1.5rem;
    color: #071020;
    margin-bottom: 0.5rem;
}

.feature .col .item p {
    font-size: 0.9rem;
    line-height: 1.6;
}

.feature .wrapper {
    width: 50%;
}

.feature .wrapper img {
    width: 120%;
    animation: move2 5s infinite;
}

/* Portfolio */
.portfolio {
    padding: 2rem 0;
    text-align: center;
}

.portfolio main .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 400px 200px 300px;
    gap: 2rem;
    grid-template-areas: 
            "Pic-1 Pic-1 Pic-2"
            "Pic-3 Pic-4 Pic-5"
            "Pic-6 Pic-6 Pic-5";
}

.portfolio .item {
    border-radius: 10px;
    position: relative;
    overflow: hidden
}

.portfolio .item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
    transition: all .75s
}

.portfolio .item:hover::before {
    left: 125%
}

.portfolio .overlay {
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: all 0.75s;
}

.portfolio .item:hover > .overlay {
    opacity: 1;
    visibility: visible;
}

.portfolio .overlay .icons {
    text-align: right;
    transform: translate(20px,-20px);
    transition: all .75s;
}

.portfolio .item:hover .overlay .icons {
    transform: translate(0)
}

.portfolio .overlay .icons i {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    text-align: center;
    color: #fffffe;
    border-radius: 0.5rem;
    font-weight: 200;
}

.portfolio .overlay .content {
    padding: 0 0 0.5rem 0.5rem;
    transform: translateY(150px);
    transition: all .75s;
}

.portfolio .item:hover .overlay .content {
    transform: translate(0)
}

.portfolio .overlay .content h2 {
    font-size: 1.25rem;
    color: #fffffe;
    padding: 0.5rem 0;
}

.portfolio .overlay .content p {
    /* font-size: 0.9rem; */
    /* font-weight: 600; */
    color: #ffffff;
    opacity: 0.7;
}

.portfolio main .container .item-1 {
    grid-area: Pic-1;
    object-fit: cover;
}
.portfolio main .container .item-2 {
    grid-area: Pic-2;
}
.portfolio main .container .item-3 {
    grid-area: Pic-3;
}
.portfolio main .container .item-4 {
    grid-area: Pic-4;
}
.portfolio main .container .item-5 {
    grid-area: Pic-5;
}
.portfolio main .container .item-6 {
    grid-area: Pic-6;
}

.portfolio main .container .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
}

/* Plan */
.plan .title {
    text-align: center;
}
.plan .row {
    margin: 2rem 0;
    display: flex;
    gap: 2rem;
}

.plan .row .col {
    padding: 2rem 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.5rem;
    border-image: 100 round;
    border: 3px solid transparent;
    transition: all 0.75s ease-out;
}

.plan .row .col:hover {
    border-image: url(./src/img/br.png) 1 round;
}

.plan .item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.plan .item h2 {
    color: #071020;
    text-align: center;
    font-size: 1.75rem;
}

.plan .item img {
    width: 60%;
}

.plan .item span {
    color: #f8ae56;
    font-size: 3rem;
    font-weight: 700;
}

.plan .item hr {
    width: 100%;
    opacity: 0.3;
}

.plan .item ul li {
    list-style: none;
    padding: 0.5rem;
}

.plan .item ul li i {
    margin-right: 0.75rem;
    font-size: 0.75rem;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    color: #f55f8d;
    background-color: #feeff3;
    border-radius: 50%;
}

/* Testimonial */
.testimonial {
    text-align: center;
    padding: 3rem 0;
}

.testimonial .main {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.testimonial .main .item header {
    padding: 1rem 0;
}

.testimonial .main .item img {
    width: 5rem;
    object-fit: contain;
    display: inline-block;
    border-radius: 50%;
    padding: 0.25rem;
    background: #f55f8d;
}

.testimonial .main .item main {
    padding: 1.5rem;
    position: relative;
    background: #ffffff;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0.25rem;
}

.testimonial .main .item main i {
    font-size: 5rem;
    color: #f55f8d;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
}

.testimonial .main .item main h3 {
    color: #071020;
    padding: 0.5rem 0;
}

.testimonial .main .item main span {
    color: #f55f8d;
    font-style: italics;
}

.testimonial .main .item main p { 
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* Blog */
.blog {
    margin: 2rem 0;
}
 
.blog header {
    text-align: center;
}

.blog .item {
    background-color: #feeff3;
    border-radius: 0.5rem;
}

.blog .item header {
    position: relative;
}

.blog .item header img {
    border-radius: 0.5rem;
}

.blog .item header p {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;

    position: absolute;
    left: 0.75rem;
    bottom: -1.3rem;
}

.blog main {
    margin: 2rem 0.75rem 3rem;
}

.blog main h2 {
    font-size: 1.25rem;
    color: #071020;
}

.blog main p {
    font-size: 0.9rem;
    margin: 0.25rem 0;
    line-height: 1.5;
}

.blog footer {
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-top: 1px solid rgba(100, 100, 111, 0.1);
}

.blog footer i {
    color: #f55f8d;
    display: inline;
}

.blog footer p {
    display: inline-block;
    padding-right: 1rem;
}

.blog footer span {
    color: #f55f8d;
}

/* Info */
.footer {
    background: url(./src/img/bg4.png) no-repeat center #0e1b1f;
    background-size: contain;
    display: block;
    color: #ffffff;
    position: relative;
}

.footer .overlay {
    position: absolute;
    background-image: url('./src/img/pattern2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    width: 100%;
    height: 14rem;
    z-index: 1;
}

.footer main {
    z-index: 100;
    position: relative;
}

.footer .subscribe .container {
    background: url('./src/img/pattern3.png') #ffffff center no-repeat;
    background-size: cover;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer .subscribe .container h2 {
    color: #071020;
    text-transform: capitalize;
}

.footer .subscribe form input {
    padding: 1.5rem 1rem;
    width: 400px;
    border: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer .subscribe form input:focus-visible {
    outline: #f55f8d solid 1px;
}

.footer .subscribe form button {
    border-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: 4rem;
    width: 6rem;
    margin-left: -0.5rem;
}

.footer .info .container {
    padding: 5rem 0 3rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.footer .info .container .contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer .info .container .contact .contact-point {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 0.5rem;
    line-height: 1.6;
}

.footer .info .container .contact .contact-point i {
    font-size: 0.9rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 50%;
}

.footer .info .container .links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer .info .container .links h2 {
    font-size: 1.25rem;
}

.footer .links hr {
    height: 0.3rem;
    border-radius: 1.25rem;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    width: 60px;
}

.footer .info .container .links ul {
    padding: 1.5rem 0;
}

.footer .info .container .links ul li {
    list-style: none;
    padding: 0.5rem 0;
    color: #636363;
}

.footer .info .container .links ul li a {
    text-decoration: none;
    color: #636363;
    text-transform: capitalize;
    transition: all 0.5s ease-out;
}

.footer .info .container .links ul li a:hover {
    color: #ffffff;
}

.footer .info .container .links ul li a i {
    padding-right: 0.75rem;
}

.footer .copyright {
    background: #1f343b;
    font-size: 0.9rem;
}

.footer .copyright a {
    text-decoration: none;
    color: #f55f8d;
}

.footer .copyright .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
}

.footer .copyright .icons {
    display: flex;
    gap: 0.25rem;
}

.footer .copyright .icons a i {
    color: #fffffe;
    background: rgba(255, 255, 255, 0.2);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s;
}

.footer .copyright .icons a:hover i {
    background: #f55f8d;
}

.backToTop {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    display: block;
    position: fixed;
    right: 1rem;
    bottom: 1rem;

    background: #f55f8d;
    border-radius: 0.5rem;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1
}


/* ================================= */

@keyframes upToDown {
    49% {
        transform: translateY(100%)
    }

    50% {
        opacity: 0;
        transform: translateY(-100%)
    }

    51% {
        opacity: 1
    }
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px)
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px)
    }
}