
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    color: #636363;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 2rem; */
}

.btn-get {
    font-size: 0.9rem;
    color: #ffffff;
    padding: 1.25rem 2rem;
    border: none;
    border-radius: 2rem;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-get:hover {
    background-position: right center;
}

.category {
    color: #f55f8d;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.title {
    color: #071020;
    font-size: 4.5rem;
    margin: 1rem 0;
    text-transform: capitalize;
}

/* Header */
.header {
    padding: 2rem 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    cursor: pointer;
}

.header .container .wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.header .wrapper ul {
    display: flex;
    gap: 1.5rem;
}

.header .wrapper ul li {
    font-weight: 600;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.header .wrapper ul li:hover > * {
    color: #f55f8d;
}

.header .wrapper ul li:hover > a {
    animation: upToDown .3s forwards
}

.header .wrapper ul li a {
    color: #071020;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: capitalize;
}

.header .wrapper ul i {
    font-size: 0.7rem;
}

/* carousel */
.carousel {
    padding-top: 12rem;
    background-image: url('./src/img/pic2.png');
    background-repeat: repeat;
}

.carousel .container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.carousel .content {
    width: 60%;
}

.carousel .content p {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.carousel ul li {
    font-size: 1.25rem;
    list-style: none;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.carousel ul li i {
    font-size: 1.5rem;
    color: #ffffff;
    padding: 0.5rem;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}

.carousel .img-wrapper {
    width: 40%;
}

.carousel .container img {
    width: 570px;
}

/* Services */
.service {
    padding: 5rem 0;
    text-align: center;
    background-image: url("./src/img/bg2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
 
.service .container .row {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
} 

.service .row .col {
    min-width: 250px;
    padding: 2rem 2rem;
    background-color: #fffffe;
    width: calc((100% - 4rem) /3);
    border-radius: 0.5rem;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;   */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.5s ease 0.1s;
}

.service .row .col:hover {
    transform: translateY(-1.25rem);
}

.service .row .col .item img {
    width: 70%;
}

.service .item h3 {
    color: #071020;
    font-size: 1.35rem;
    font-weight: 700;
    margin: 1rem 0;
    text-transform: capitalize;
}

/* About */
.about {
    position: relative;
}

.about .container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about .wrapper {
    width: 50%;
    /* position: absolute; */
    /* left: -17%; */
}

.about .wrapper img {
    width: 100%;
    margin-left: -15%;
    border-radius: 0 100px 100px 0;
}

.about .content {
    width: 50%;
}

.about .content ul {
    margin: 1rem 0 2rem;
}

.about .content ul li {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 0.75rem 0;
}

.about .content li i {
    color: #f55f8d;
    font-size: 1.5rem;
}

/* ================================= */

@keyframes upToDown {
    49% {
        transform: translateY(100%)
    }

    50% {
        opacity: 0;
        transform: translateY(-100%)
    }

    51% {
        opacity: 1
    }
}