$primary: #FD4766;

// $hover-background: if($color == $color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
// $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),


// hsla(0,0%,100%,.2)

// @import "./../bootstrap/scss/bootstrap";
@import "../bootstrap/scss/bootstrap";

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: $primary!important;
    background-color: transparent;
    // border-color: $primary; /*set the color you want here*/
}

// User define
$bg-gradient-primary: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, $primary 79.69%);

$color-primary: rgba(29,29,36,.75);


.fs-0 {
    font-size: calc(1.5rem + 1.5vw) !important;
}

.fs-5-125 {
    font-size: 1.125rem !important;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.bg-light {
    border-color: #f6f6f6 !important;
}

.bg-gra-secondary {
    background: $bg-gradient-primary;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.py-4-5 {
    padding: 2.5rem;
}

.rounded-4 {
    border-radius: 0.75rem !important;
}

.trans-basic {
    transition: all 0.65s ease-out;
}

.trans-basic-1 {
    transition: all 0.35s ease-out;
}

.delay-1 {
    transition-delay: 0.2s;
}

// ===========================================================

body {
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    color: $color-primary;
}

.header {
    z-index: 100;
}

.header .container .navbar .container-fluid .btn {
    padding: 1rem 2.5rem !important;
}

.carousel .carousel-item .overlay h1 {
    font-size: 6rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.carousel {
    .carousel-item {
        .overlay {
            h1 {
                font-size: 6rem;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
                font-weight: 900;
            }

            button {
                letter-spacing: 2px;
            }
        } 
    }
}

.service {
    main {
        [class*=item]:hover {
            transform: translateY(-0.5rem);
        }

        [class*=col]:nth-child(2) svg {
            color: #337DFF;
        }

        [class*=col]:nth-child(3) svg {
            color: #12d8df;
        }

        [class*=col]:nth-child(4) svg {
            color: #59C98D;
        }

        [class*=col]:nth-child(5) svg {
            color: #6F41F6;
        }

        [class*=col]:nth-child(6) svg {
            color: #357FF6;
        }
    } 
}

.project {
    main {
        [class*=item]:hover {
            img {
                transform: scale(1.1);
            }
            
            .overlay {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $primary 100%);
                // transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
                // height: 85%;
                
                h2, h6 {
                    transform: translateY(-2rem);
                }

                p {
                    opacity: 1 !important;
                    transform: translateY(-2rem);
                }
            }
        } 

        [class*=overlay] {
            height: 85%;

            h2, h6, p {
                transform: translateY(3rem);
            }
        }
    }
}