$primary: #FD4766;

// $hover-background: if($color == $color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
// $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),


// hsla(0,0%,100%,.2)

// @import "./../bootstrap/scss/bootstrap";
@import "../bootstrap/scss/bootstrap";


// User define
$bg-gradient-primary: linear-gradient(to bottom, rgba(0, 0, 0, 0), $primary 100%);
$bg-gradient-secondary: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, $primary 79.69%);

$color-primary: rgba(29,29,36,.75);
$color-opacity-1: hsla(0,0%,100%,.2);

.btn-primary {
    letter-spacing: 0.125rem;
    font-weight: 500!important;
    transition: all 0.5s;
    text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: $primary!important;
    background-color: transparent; 
}

.btn-outline-primary {
    letter-spacing: 0.125rem;
    color: #ffffff!important;
    background-color: transparent !important;
    border: 2px solid $color-opacity-1 !important; 
    font-weight: 500 !important;
    transition: all 0.5s;
    text-transform: uppercase;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    background-color: $primary !important; 
    border: 2px solid $primary !important; 
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus {
    box-shadow: none !important;
}

.btn-active {
    background-color: $primary !important; 
    border: 2px solid $primary !important; 
    color: #ffffff !important;
}

.fs-0 {
    font-size: calc(1.5rem + 1.5vw) !important;
}

.fs-5-125 {
    font-size: 1.125rem !important;
}

.fw-normaler {
    font-weight: 500 !important;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.bg-darker {
    background-color: #010001;
}

.bg-gray-1 {
    background-color: #f6f6f6;
}

.bg-gray-2 {
    background-color: #f9f9f9;
}

.bg-gra-secondary {
    background: $bg-gradient-secondary;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.py-4-5 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.px-3-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.px-4-5 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}

.px-5-5 {
    padding-left: 3.75rem !important;
    padding-right: 3.75rem !important;
}

.py-5-5 {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.rounded-4 {
    border-radius: 0.75rem !important;
}

.trans-basic {
    transition: all 0.65s ease-out;
}

.trans-basic-1 {
    transition: all 0.35s ease-out;
}

.delay-1 {
    transition-delay: 0.2s;
}

// ===========================================================

body {
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    color: $color-primary;
}

.header {
    z-index: 100;

    [class*=logo] {
        max-height: 60px;
    }

    [class*=nav-link] {
        transition: all 0.5s;

        &:hover {
            color: $primary !important;
        }
    }

    @media screen and (max-width:768px) {
        position: relative;

        [class*=btn-outline-primary] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 18%;
            padding: 0.5rem 1rem !important;
        }
    }
}

.slider {
    .carousel {
        .carousel-item {
            img {
                object-fit: cover !important;
                object-position: center !important;
                height: 100%;
                width: 100%;
                margin: auto;
            }

            .carousel-caption {
                bottom: 50%;
                transform: translateY(50%);
                padding: 0 12rem;
    
                h1, p, button {
                    animation: 800ms ease-in-out 0s normal none 1 running customOne;
                }
    
                h1 {
                    font-size: calc(1.5rem + 5vw) !important;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 900;
                }
            }
    
            &::before {
                content: "";
                background: rgba(0, 0, 0, 0.2);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    
        .carousel-indicators {
            [data-bs-target] {
                height: 0.4rem;
                width: 0.4rem;
                border-radius: 50%;
                margin: 0.5rem 0.5rem 3rem;
                border: 2px solid transparent;
                transition: all 0.5s ease-in;
            }

            .active {
                border: 2px solid $primary;
                background: transparent;
            }
        } 

        .carousel-control-prev {
            .carousel-control-prev-icon {
                background-image: url("./../src/img/slick-arrow-left-small.png") !important;
                background-size: 50%;
                padding: 2rem;
                border: 2px solid $color-opacity-1;
                border-radius: 50%;
                transition: all 0.3s;

                &:hover {
                    transform: translateX(-1.5rem) !important;
                    background-color: $primary;
                    border: 2px solid $primary;
                }
            }
        }

        .carousel-control-next {
            .carousel-control-next-icon {
                background-image: url("./../src/img/slick-arrow-right-small.png") !important;
                background-size: 50%;
                padding: 2rem;
                border: 2px solid $color-opacity-1;
                border-radius: 50%;
                transition: all 0.3s;

                &:hover {
                    transform: translateX(1.5rem) !important;
                    background-color: $primary;
                    border: 2px solid $primary;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        height: 33vh;

        .carousel {
            height: 100%;

            .carousel-control-prev, .carousel-control-next {
                display: none;
            }
        }

        [class*=carousel-caption] {
            padding: 0 !important;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem !important;
            }
        }
    }
}

.service {
    main {
        [class*=item]:hover {
            transform: translateY(-0.5rem);
            cursor: pointer;
        }

        [class*=col]:nth-child(2) svg {
            color: #337DFF;
        }

        [class*=col]:nth-child(3) svg {
            color: #12d8df;
        }

        [class*=col]:nth-child(4) svg {
            color: #59C98D;
        }

        [class*=col]:nth-child(5) svg {
            color: #6F41F6;
        }

        [class*=col]:nth-child(6) svg {
            color: #357FF6;
        }
    } 
}

.project {
    main {
        [class*=item]:hover {
            transform: translateY(-0.5rem);

            img {
                transform: scale(1.1);
            }
            
            .overlay {
                background: $bg-gradient-primary;
                
                h2, h6, p {
                    transform: translateY(-2rem);
                }

                p {
                    opacity: 1 !important;
                }
            }
        } 

        [class*=overlay] {
            height: 85%;

            h2, h6, p {
                transform: translateY(3rem);
            }
        }
    }
}

.news {
    main {
        [class*=item]:hover {
            transform: translateY(-0.5rem);

            img {
                transform: scale(1.1);
            }
            
            .overlay {
                background: $bg-gradient-primary;
                
                h2, h6, button {
                    transform: translateY(-1rem);
                }

                button {
                    opacity: 1 !important;
                }
            }
        } 

        [class*=overlay] {
            height: 70%;

            h2, h6, button {
                transform: translateY(3rem);
            }
        }
    }
}

.about {
    [class*=about-content] {
        transition: all 0.5s;

        ul {
            padding: 0;

            li {
                list-style: none;
                padding: 0.5rem 0;

                i {
                    color: $primary;
                    padding-right: 0.5rem;
                }

                p {
                    display: inline;
                }
            }
        }
    }

    @media screen and (max-width:768px) { 
        [class*=about-wrapper] {
            padding-top: 2rem;
        }
    }
}

.quotes {
    [class*=row] {
        .col {
            .wrapper {
                p {
                    z-index: 100 !important;
                }

                .quote-icon {
                    z-index: 1 !important;
                    top: -3.5rem;
                    left: -3.5rem;
                }
            }
        }
    }

    [class*=avatar-item] { 
        transition: all 0.5s;
        cursor: pointer;
        opacity: 0.5;
    }
}

.avatar-active {
    opacity: 1 !important;        
    transform: scale(1.1);

    @media screen and (max-width:768px) {  
        transform: none;
    }
}

.clients {
    [class*=row] {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        border-right: 1px solid rgba(0, 0, 0, 0.05);

        .col {
            z-index: 1;

            .item {
                height: 13.5rem !important;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                border-left: 1px solid rgba(0, 0, 0, 0.05);
        
                img {
                    max-width: 9.375rem;
                    max-height: 6.875rem;
                }
            }

            &:hover {
                transform: scale(1.1);
                background-color: $primary;            
                border-radius: 0.5rem;
                z-index: 100;
            }
        }
    }
}

.footer {
    .container {
        .header {
            border-bottom:  1px solid $color-opacity-1;
        }

        main {
            .row {
                [class*=copyright] img {
                    max-width: 100%;
                    height: 5rem;
                }

                [class*=link-item] {
                    transition: all 0.5s;

                    a {
                        transition: all 0.5s;
                        position: relative;
                        width: 100%;
                        // transform: perspective(1px) translateZ(0);
                        background: #010001;
                        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                        
                        &::after {
                            position: absolute;
                            content: "";
                            left: 0;
                            bottom: 0;
                            width: 0;
                            height: 1px;
                        }

                        &:hover {
                            color: $primary !important;
                            
                            &::after {
                                width: 100%;
                            }
                        }
                    }

                    &:hover {
                        width: 100%;
                    }
                } 
            }
        }
    }
}

@keyframes customOne {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}